* {
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    padding: 10px;
    background-color: black;
    color: white;
}

h2,h3
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

p
{
    margin-top: 5px;
}

#keepo
{
    color: #00ff1d;
    font-family: 'Aclonica', sans-serif;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: black;
}

.header h1 {
    font-size: 50px;
}

h2,h3,h4,h5,h6,p
{
    color: black;
}

ul.cl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.cl li {float: left;}

ul.cl li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.cl li a:hover:not(.active) {background-color: #555;}

ul.cl li a.active {background-color: #4CAF50;}

ul.cl li.right {float: right;}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    font-size: 17px;
    display: inline-block;
    float: left;
    width: 75%;
    margin-top: 20px;
 
}

/* Right column */
.rightcolumn {
    display: inline-block;
    width: 25%;
    background-color: grey;
    padding-left:20px;
    margin-top:40px;
    
}

/* Add a card effect for articles */
.card {
    background-color: grey;
    padding: 20px;
    text-align: center;
}

.card2 {
    background-color: grey;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    margin-right:20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: black;
    margin-top: 20px;
}

.footer a
{
    text-decoration: none;
    color: white;
}

.footer a:hover
{
    color: red;
    transition-property: color;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 1s;
}

.me
{
    height: 150px;
    transition: transform .2s;
    
}

.me:hover
{
    transform: scale(1.1);
}

.social
{
    width: 25%;
}


.odin
{
    height: 150px;
}

.Draven img
{
    width: 305px;
    margin-left: -5px;
}

.placeimg img
{
    float:left;
    width: 150px;
}

.placeimg2 img
{
    width: 150px;
}

.footer button
{
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
}
